<!DOCTYPE HTML>

<html>
	{{> head}}
	<body>

		<!-- Header -->
		{{> navbar}}
		
        <div class="container">
            <h1>Categorias</h1>
        </div>
		

		<!-- Footer -->
		{{> footer}}

	</body>
</html>