<!DOCTYPE HTML>

<html>
	{{> head}}
	<body>

		<!-- Header -->
		{{> navbar}}

		<script type="text/javascript">
			$(document).ready(async()=>{



				//let url = 'https://restserver-pastizeta.herokuapp.com/api';
				let url = 'https://7bdb-187-244-127-201.ngrok.io/api';
				let arr_subcategorias = [];

				const getCategorias = async() =>{
					const respCategorias = await fetch(`${url}/categorias/?limite=100&desde=0`);

					const json = await respCategorias.json();

					if(respCategorias.ok){

						pintaTablaCat(json.categorias);
						return;

					}else{
						alert(`Error -> al cargar categorias, ${json.msg}`);
						return;
					}
				}

				const getSubCategorias = async() =>{

					const respSubcategorias = await fetch(`${url}/subcategorias/?limite=100&desde=0`);
					const json = await respSubcategorias.json();

					if(respSubcategorias.ok){

						pintaTablaSubCat(json.subcategorias);
						return;

					}else{
						alert(`Error -> al cargar subcategorias, ${json.msg}`);
						return;
					}

				}
				const pintaTablaCat = (arrCat) =>{
				
					const tbody_categorias = $('#tbody_categorias');
					let html='';
					let estado = '';
					tbody_categorias.html(html);

					arrCat.forEach( (reg) =>{
						if(reg.estado == true){
							estado = 'checked'
						}else{
							estado = ''
						}

						html += `<tr>
									<td>${reg.nombre}</td>
									<td>${reg.usuario.nombre}</td>
									<td>
								`+
								 		f_obten_subcat_html(reg.subcategorias)
								 +`	</td>
									<td align=""> 
										<table>
											<tr>
												<td>
													<div class="form-check form-switch">
														<input class="form-check-input borrarCat" type="checkbox" id="${reg._id}" ${estado} nombre="${reg.nombre}">
													</div>
												</td>
												<td><i class="fas fa-edit edit_cat" nombre="${reg.nombre}" id="${reg._id}"></i></td>
											</tr>
										</table>
									</td>
								</tr>`

					})

					tbody_categorias.html(html);
				}

				const f_obten_subcat_html =(arr_subcatego)=>{
					let html="<table>";

					arr_subcatego.forEach((subreg) =>{
						html += `<tr>
										<td>
											${subreg.nombre}
										</td>
								</tr>`
					})
					html += `</table>`
					return html;
				}
				
				const pintaTablaSubCat = (arrSubCat) =>{
				
					const tbody_subcategorias = $('#tbody_subcategorias');
					const body_acordion = $('#body_acordion');
					let html='';
					let html_acordion='';
					let estado = '';
					let habilitado = 'disabled';
					tbody_subcategorias.html(html);
					
					html_acordion = `<ul style="list-style: none;column-count:2;">`

					arrSubCat.forEach( (reg) =>{

						if(reg.estado == true){
							estado = 'checked'
							habilitado = ''
						}else{
							estado = ''
						}

						html += `<tr>
									<td>${reg.nombre}</td>
									<td>${reg.usuario.nombre}</td>
									<td align=""> 
										<table>
											<tr>
												<td>
													<div class="form-check form-switch">
														<input class="form-check-input borrarSubCat" type="checkbox" id="${reg._id}" ${estado} nombre="${reg.nombre}">
													</div>
												</td>
												<td><i class="fas fa-edit edit_subcat" nombre="${reg.nombre}" id="${reg._id}"></i></td>
											</tr>
										</table>
									</td>
								</tr>`

						html_acordion += `	<li>
												<input class="subCheck" type="checkbox" name="${reg._id}" id="${reg._id}" value="" >
												<label class="" for="${reg._id}">${reg.nombre}</label>
											</li>
										`

					})
					
					html_acordion += `</ul>`
					body_acordion.html(html_acordion);
					tbody_subcategorias.html(html);
				}
			
				$('#btnASubCat').on('click',async() =>{
					
					const l_nombre_sub_cat = $('#nombreSubCat').val();
					let token = localStorage.getItem('x-token');
					let div_mensaje = $('.mensaje');

					if( l_nombre_sub_cat == '' || Number(l_nombre_sub_cat) || l_nombre_sub_cat == undefined || l_nombre_sub_cat.length > 15 ){
						 mandaMensaje('unsuccess');
						 div_mensaje.html('SubCategorias - El nombre es incorrecto. ');
						 return;
					}

					let data = {
						"nombre": l_nombre_sub_cat
					}

					const respAsubCat = await fetch(`${url}/subcategorias/`,{
														method:'POST',
														 headers: {
															'Content-Type': 'application/json;charset=utf-8',
															'x-token': token
														},
														body: JSON.stringify(data)
													})
					json = await respAsubCat.json();

					if( respAsubCat.ok ){
						mandaMensaje('success');
                        div_mensaje.html('Subcategoria Agregada');

						//vuelve a pintar las subcategorias para actualizar la lista
						await getSubCategorias();
					}else{
						mandaMensaje('unsuccess');
                        div_mensaje.html(json.msg);
					}

				})
				
				//Agregar Categoria
				$('#btnACat').on('click',async() =>{
					
					const l_nombre_cat = $('#nombreCat').val();
					let token = localStorage.getItem('x-token');
					let div_mensaje = $('.mensaje');
					

					if( l_nombre_cat == '' || Number(l_nombre_cat) || l_nombre_cat == undefined || l_nombre_cat.length > 15 ){
						 mandaMensaje('unsuccess');
						 div_mensaje.html('Categorias - El nombre es incorrecto. ');
						 return;
					}
					if(arr_subcategorias.length == 0){
						 mandaMensaje('unsuccess');
						 div_mensaje.html('Categorias - Debes elegir al menos una SubCategoria. ');
						 return;
					}

					let data = {
						"nombre": l_nombre_cat,
						"subcategorias":arr_subcategorias
					}

					const respACat = await fetch(`${url}/categorias/`,{
														method:'POST',
														 headers: {
															'Content-Type': 'application/json;charset=utf-8',
															'x-token': token
														},
														body: JSON.stringify(data)
													})
					json = await respACat.json();

					if( respACat.ok ){
						mandaMensaje('success');
                        div_mensaje.html('Categoria Agregada');

						//vuelve a pintar las categorias para actualizar la lista
						await getCategorias();
					}else{
						mandaMensaje('unsuccess');
                        div_mensaje.html(json.msg);
					}

				})
				
				
				//evento checkboxes
				$('#body_acordion').on('click','.subCheck', function(){
					let id_check = $(this).attr('id');

					if(arr_subcategorias.find(element => element == id_check)){
						let index = arr_subcategorias.indexOf(id_check);
						arr_subcategorias.splice(index,1);
					}else{
						arr_subcategorias.push(id_check);
					}
					
					
				});
				
				//borrar Categoria
				$('#tbody_categorias').on('click','.borrarCat',async function(){
					let id_cat = $(this).attr('id');
					let div_mensaje = $('.mensaje');
					let token = localStorage.getItem('x-token');

					let estado = false				    
					if($(this).is(":checked")){
						estado = true
					}else{
						estado = false
					}
					let data={
						"estado": estado
					}
					respDeletCat = await fetch(`${url}/categorias/estado/${id_cat}`,{
												method: 'PUT',
												headers: {
													'Content-Type': 'application/json;charset=utf-8',
													'x-token' : token
												},
												body: JSON.stringify(data)
											})
					if(respDeletCat.ok){
						respJSON = await respDeletCat.json();
						//mandaMensaje('success');
						//div_mensaje.html('Categoria - Borrada Con Exito');

						//vuelve a pintar las categorias para actualizar la lista
						await getCategorias();
					}else{
						respJSON = await respDeletCat.json();
						mandaMensaje('unsuccess');
						div_mensaje.html(respJSON.msg);
					}
					
					
				})
				
				//borrar SubCataegoria
				$('#tbody_subcategorias').on('change','.borrarSubCat',async function(){
					let id_subcat = $(this).attr('id');
					let nom_subcat = $(this).attr('nombre');
					let div_mensaje = $('.mensaje');
					let token = localStorage.getItem('x-token');
					let estado = false;

					if($(this).is(":checked")){
						estado = true
					}else{
						estado = false
					}
					let data={
						"nombre": nom_subcat,
						"estado": estado
					}

					
						respDeletsubCat = await fetch(`${url}/subcategorias/${id_subcat}`,{
													method: 'PUT',
													headers: {
														'Content-Type': 'application/json;charset=utf-8',
														'x-token' : token
													},
													body: JSON.stringify(data)
													
												})
						if(respDeletsubCat.ok){
							respJSON = await respDeletsubCat.json();
							//mandaMensaje('success');
							//div_mensaje.html('SubCategoria - Cambios Con Exito');

							//vuelve a pintar las categorias para actualizar la lista
							await getSubCategorias();
						}else{
							respJSON = await respDeletsubCat.json();
							mandaMensaje('unsuccess');
							div_mensaje.html(respJSON.msg);
						}

					
				})
				
				//MOdal editar categoria
				$('#tbody_categorias').on('click','.edit_cat',async function(){
					let nombre_cat = $(this).attr('nombre');
					let id_cat = $(this).attr('id');
					let html_subcatego = '<ul style="list-style: none;column-count:2;">';
					const respCategoria = await fetch(`${url}/categorias/${id_cat}`);
					const respSubcategorias = await fetch(`${url}/subcategorias/?limite=100&desde=0`);
					const json = await respCategoria.json();
					const jsonSubCat = await respSubcategorias.json();

					if(respCategoria.ok && respSubcategorias.ok){
						let checked = '';

						jsonSubCat.subcategorias.forEach((reg) =>{
							
							if(json.categoria.subcategorias.find(x => x._id == reg._id)){
								checked='checked';
							}
							else{
								checked = '';
							}
							html_subcatego += `	<li>
													<input class="subCheckedit" type="checkbox" name="edit_${reg._id}" id="${reg._id}" value="" ${checked} >
													<label class="" for="${reg._id}">${reg.nombre}</label>
												</li>
											 `
						});
						html_subcatego += '</ul>';

						$('#body_subcategorias').html(html_subcatego);
					}else{
						alert(`Error -> al buscar categorias, ${json.msg}`);
						return;
					}

					$('#editnomCat').val(nombre_cat);
					$('#editidcat').val(id_cat);
					$('#staticBackdropCat').modal("show");
				})

				//MOdal editar subcategoria
				$('#tbody_subcategorias').on('click','.edit_subcat', function(){
					let nombre_subcat = $(this).attr('nombre');
					let id_subcat = $(this).attr('id');

					$('#editnomSubCat').val(nombre_subcat);
					$('#editidsubcat').val(id_subcat);
					$('#staticBackdrop').modal("show");
				})

				//editar subcategori
				$('#btnEditSubCat').on('click',async function(){
					let token = localStorage.getItem('x-token');
					let id_subcat = $('#editidsubcat').val();
					let div_mensaje = $('.mensaje');

					if($('#editnomSubCat').val() == ''){
						alert('Debes ingresar un nombre para la subcategoria');
						return;
					}
					if($('#editnomSubCat').val().length > 55){
						alert('Los nombres no pueden ser tan largos (55)');
						return;
					}

					let data = {
						"nombre": $('#editnomSubCat').val()
					}

					const respESubCat = await fetch(`${url}/subcategorias/${id_subcat}`,{
														method:'PUT',
														 headers: {
															'Content-Type': 'application/json;charset=utf-8',
															'x-token': token
														},
														body: JSON.stringify(data)
													})
					json = await respESubCat.json();

					if( respESubCat.ok ){
						mandaMensaje('success');
                        div_mensaje.html('SubCategoria Actualizada');

						//vuelve a pintar las categorias para actualizar la lista
						$('#staticBackdrop').modal("hide");
						await getSubCategorias();
						await getCategorias();
					}else{
						mandaMensaje('unsuccess');
                        div_mensaje.html(json.msg);
						$('#staticBackdrop').modal("hide");
					}
				})

				//edita categoria
				$('#btnEditCat').on('click',async function(){
					let arr_subcategorias = [];
					let token = localStorage.getItem('x-token');
					let id_cat = $('#editidcat').val();
					let div_mensaje = $('.mensaje');

					//obtener arreglo de id subcategorias seleccionados
					$("#body_subcategorias input[type=checkbox]:checked").each(function(){
						arr_subcategorias.push($(this).attr('id'));
					});
					
					if(arr_subcategorias.length == 0){
						alert('Debes seleccionar al menos una subcategoria');
						return;
					}
					if($('#editnomCat').val() == ''){
						alert('La categoria debe tener nombre');
					}

					if($('#editnomCat').val().length > 55){
						alert('El nombre no puede ser tan largo (55)');
						return;
					}
				
					let data={
						"nombre":$('#editnomCat').val(),
						"subcategorias":arr_subcategorias
					}
					
					const respECat = await fetch(`${url}/categorias/${id_cat}`,{
														method:'PUT',
														 headers: {
															'Content-Type': 'application/json;charset=utf-8',
															'x-token': token
														},
														body: JSON.stringify(data)
													})
					json = await respECat.json();

					if( respECat.ok ){
						mandaMensaje('success');
                        div_mensaje.html('Categoria Actualizada');

						//vuelve a pintar las categorias para actualizar la lista
						$('#staticBackdropCat').modal("hide");
						await getSubCategorias();
						await getCategorias();
					}else{
						mandaMensaje('unsuccess');
                        div_mensaje.html(json.msg);
						$('#staticBackdropCat').modal("hide");
					}
					//console.log(arr_subcategorias);
				})
				//se cargan subcategorias
				getSubCategorias();
				getCategorias();
			})	
		</script>
		
        <div class="container">

			<div style="display: none;" class="mensaje alert" role="alert"></div>

            <div class="row mb-5 mt-5">
				<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 pr-4">
					<h3>Categorias</h3>
					<div class="mb-3">
						<label for="nombreCat" class="form-label" style="color: black;">Nombre</label>
						<div class="input-group mb-3">
							<span class="input-group-text" id="basic-addon1"><i class="fas fa-pen"></i></span>
							<input type="text" class="form-control" name="nombreCat" id="nombreCat">
						</div>

						<div class="accordion pb-5" id="accordionExample">
							<div class="accordion-item">
								<h2 class="accordion-header" id="headingOne">
								<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-controls="collapseOne">
									SubCategorias
								</button>
								</h2>
								<div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
								<div class="accordion-body" id="body_acordion">
									
								</div>
								</div>
							</div>
							
						</div>
						<button id="btnACat" class="btn btn-success">Agregar</button>
                    
               		</div>
				</div>
				<div class="col-lg-8 col-md-6 col-sm-12 col-xs-12">
					<table id="tbl_categorias" class="table" width="100%">
						<thead>
							<tr>
								<th>Nombre</th>
								<th>Usuario</th>
								<th>SubCategorias</th>
								<th align="center">Accion</th>
							</tr>
						</thead>
						<tbody id="tbody_categorias">
							
						</tbody>
					</table>
				</div>
			</div>

			<hr>

			 <div class="row">
				<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 pr-4">
					<h3>Subcategorias</h3>
					<div class="mb-3">
						<label for="nombreSubCat" class="form-label" style="color: black;">Nombre</label>
						<div class="input-group mb-3">
							<span class="input-group-text" id="basic-addon1"><i class="fas fa-pen"></i></span>
							<input type="text" class="form-control" name="nombreSubCat" id="nombreSubCat">
						</div>
					</div>
					<button id="btnASubCat" class="btn btn-success">Agregar</button>
				</div>
				<div class="col-lg-8 col-md-6 col-sm-12 col-xs-12">
					<table id="tbl_sub_categorias" class="table" width="100%">
						<thead>
							<tr>
								<th>Nombre</th>
								<th>Usuario</th>
								<th>Accion</th>
							</tr>
						</thead>
						<tbody id="tbody_subcategorias">
							
						</tbody>
					</table>
				</div>
			</div>

        </div>
	
		<!-- Modal Subcategorias-->
		<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="staticBackdropLabel">Editar Subcategoria</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div id="modal-body" class="modal-body">
				<div class="container">
					<div class="row">
						<label for="editnomSubCat" class="form-label" style="color: black;">Nombre</label>
						<div class="input-group mb-3">
							<span class="input-group-text" id="basic-addon1"><i class="fas fa-pen"></i></span>
							<input type="text" class="form-control" name="editnomSubCat" id="editnomSubCat">
						</div>
						<input type="hidden" name="editidsubcat" id="editidsubcat">
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
				<button type="button" id="btnEditSubCat" class="btn btn-primary">Guardar</button>
			</div>
			</div>
		</div>
		</div>


		<!-- Modal Categorias-->
		<div class="modal fade" id="staticBackdropCat" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropCatLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="staticBackdropCatLabel">Editar Categoria</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div id="modal-body" class="modal-body">
				<div class="container">
					<div class="row">
						<label for="editnomCat" class="form-label" style="color: black;">Nombre</label>
						<div class="input-group mb-3">
							<span class="input-group-text" id="basic-addon1"><i class="fas fa-pen"></i></span>
							<input type="text" class="form-control" name="editnomCat" id="editnomCat">
						</div>

						
					</div>
					<h5>Subcategorias</h5> 
					<hr>
					<div class="row text-center" id="body_subcategorias">
						
					</div>

					<input type="hidden" name="editidcat" id="editidcat">
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
				<button type="button" id="btnEditCat" class="btn btn-primary">Guardar</button>
			</div>
			</div>
		</div>
		</div>

		<!-- Footer -->
		{{> footer}}

	</body>
</html>