<!DOCTYPE HTML>

<html>
	{{> head}}
	<body>

		<!-- Header -->
		{{> navbar}}
		
		<div class="container">
			
			<div class="row bg-light p-3">
				<div class="col-12">
					<h4> <span><i class="fas fa-user" style="color:blueviolet"></i></span> Tu Cuenta</h4>
				</div>
			</div>

			<hr>

			<div style="display: none;" class="mensaje alert" role="alert"></div>

			<div class="row mt-5" >
				<div class="col-lg-4 col-sm-6 pt-5">
					<div class="row"><h6 style="color:blueviolet">Perfil</h6></div>
					<div class="row"><p>Tu Correo es tu identidad en el Administrador y es usado para hacer Login.</p></div>
					<div class="row"><p>Ten en cuenta que si modificas el correo tendras que iniciar sesion nuevamente, ya que tu sesion se cerrara.</p></div>
				</div>
				<div class="col-lg-4 col-sm-6 pt-5">
					<form>
						<div class="mb-3">
							<label for="exampleInputEmail1" class="form-label"><strong>Direccion de Correo</strong></label>
							<div class="input-group mb-3">
								<span class="input-group-text" id="basic-addon1"><i class="far fa-envelope"></i></span>
								<input type="email" class="form-control" id="EmailUsuario" aria-describedby="emailHelp" value="{{usuario.correo}}" disabled>
							</div>
							
						</div>
						<div class="mb-3">
							<label for="exampleInputPassword1" class="form-label"><strong>Nombre</strong></label>
							<div class="input-group mb-3">
								<span class="input-group-text" id="basic-addon1"><i class="fas fa-signature"></i></span>
								<input type="text" class="form-control" id="NombreUsuario" value="{{usuario.nombre}}">
							</div>
							
						</div>
						<input type="hidden" id="id_usuario" value="{{usuario.uid}}">
						<input type="hidden" id="rol_usuario" value="{{usuario.rol}}">
						<button type="button" id="btnGDusu" class="btn btn-outline-dark"> Guardar </button>
					</form>
				</div>
			</div>

			<hr>


			<div class="row mt-3" >
				<div class="col-lg-4 col-sm-6 pt-5">
					<div class="row"><h6 style="color:blueviolet">Password</h6></div>
					<div class="row"><p>Cambiar tu password tambien te hara cerrar sesion.</p></div>
					<div class="row"><p>Ten en cuenta que si olvidas tu contraseña tendras que contactar al Administrador.</p></div>
				</div>
				<div class="col-lg-4 col-sm-6 pt-5">
					<form>
						<div class="mb-3">
							<label for="exampleInputPassword1" class="form-label"><strong>Nuevo Password</strong></label>
							<div class="input-group mb-3">
								<span class="input-group-text" id="basic-addon1"><i class="fas fa-key"></i></span>
								<input type="password" class="form-control" id="password_nuevo" placeholder="Captura el nuevo password">
							</div>
							
						</div>
						<div class="mb-3">
							<label for="exampleInputPassword1" class="form-label"><strong>Confirma el nuevo password</strong></label>
							<div class="input-group mb-3">
								<span class="input-group-text" id="basic-addon1"><i class="fas fa-key"></i></span>
								<input type="password" class="form-control" id="password_confirma" placeholder="Captura el nuevo password de nuevo">
							</div>
						</div>
						<button type="button" id="btnMPUsu" class="btn btn-outline-dark"> Modificar Password</button>
					</form>
				</div>
			</div>



		</div>
		

		<!-- Footer -->
		{{> footer}}

	</body>
</html>