<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

   
</head>
<body>
    <h4 id ="aviso"></h4>
    <input type="email" name="email" id="email">
    <input type="password" name="password" id="password">

    <button type="button" id="btnLogin">Login</button>

     <script type="text/javascript">    

        const urlProd = 'https://restserver-pastizeta.herokuapp.com/api/auth/login';
        const url = 'http://localhost:8080/api/auth/login';

        var btnLogin = document.getElementById("btnLogin");
        
        btnLogin.addEventListener('click',async() =>{

            const correo = document.getElementById('email').value
            const password = document.getElementById('password').value

             let data = {
                correo,
                password
            }
            try{
                let respuesta = await fetch(url, {
                                            method: 'POST',
                                            headers: {
                                                'Content-Type': 'application/json;charset=utf-8'
                                            },
                                            body: JSON.stringify(data)
                                        })
            

                if(respuesta.ok){
                    let respErr = await respuesta.json();
                    localStorage.setItem('x-token',respErr.token);
                    localStorage.setItem('sessionID',respErr.sesion);
                    window.location="/home?apikey=" + respErr.token + '&SSID=' + respErr.sesion;
                }else{
                    let respErr = await respuesta.json();

                    alert(respErr.msg);
                }
            }catch (err) {
                console.log("Error al enviar el informacion del login: " + err.message);
            }
            
        })

       
    </script>
</body>
</html>