<!DOCTYPE HTML>

<html>
	{{> head}}
	<body>

		<!-- Header -->
		{{> navbar}}
		
		<script type="text/javascript">
			$(document).ready( async() => {
				let url = 'https://6944-187-244-127-201.ngrok.io/api';
				let limitexpagina = 6;
				let desde_art = 0;
				let respuesta;
				let arr_catego_sel = [];

				const getProductos = async(limite,desde,busqueda="0",criterio = '') => {

					$('.items').html(`<div class="d-flex justify-content-center">
										<div class="spinner-border" role="status">
											<span class="visually-hidden">Cargando...</span>
										</div>
									  </div>`);

					if(busqueda == "0"){
						 respuesta = await fetch(`${url}/productos/?limite=${limite}&desde=${desde}`);
					}else{
						 respuesta = await fetch(`${url}/buscar/productos/${criterio}/?limite=${limite}&desde=${desde}`);
					}
					

					if(respuesta.ok){
						const productos = await respuesta.json();
						let prod_array;
						let total_productos;
						
						if(busqueda == "0"){
							 prod_array = productos.productos; //esto es un array
							 total_productos = productos.total;
						}else{
							 prod_array = productos.results; //esto es un array
							 total_productos = productos.total;
						}
						

						//pintado de productos
						let html= '';
						let class_active = '';
						let paginas = total_productos/limite;
						paginas = Math.ceil(paginas);

						const row_prod = $('#row_prod');

						row_prod.html('');

						html = await pintaProductos(prod_array,paginas,limite,desde,busqueda,criterio);
						$('.items').fadeIn(2000).html(html);
						//row_prod.html(html);

					}else{
						let respErr = await respuesta.json();
						alert(respErr);
						return;
					}
					
				}

				//se pinta select categorias
				const pintaSelectCategorias =async ()=>{

					const respCategorias = await fetch(`${url}/categorias`);
					
					let total_catego = 0;
					let html = '';
					let sel_categoria = $('#sel_categoria');

					if (respCategorias.ok){
						
						categorias = await respCategorias.json();
						total_catego = categorias.total;
						arr_catego_sel = categorias.categorias; 

					}else{
						let respErr = await respuesta.json();
						alert(respErr);
						return;
					}

					html=`<option id="0" value="0">Seleccionar...</option>`
					arr_catego_sel.forEach((reg) =>{
						html+=`<option class="opt_categoria" id="${reg._id}" value="${reg._id}">${reg.nombre}</option>`
					})

					sel_categoria.html(html);

				}

				//se pinta select subcategorias
				const pintaSelectSubCategoria= (arr_sub_catego)=>{
					let html = '';
					let sel_sub_catego = $('#sel_subcategoria')

					html = `<option id="0" value="0">Seleccionar...</option>`
					if(arr_sub_catego.length > 0){
						arr_sub_catego.forEach((reg)=>{
							html+= `<option id="${reg._id}" value="${reg._id}">${reg.nombre}</option>`
						});	
					}
					sel_sub_catego.html(html);
				}

				const pintaProductos = async(prod_array,paginas,limite,desde,busqueda,criterio = '') => {

					//se llaman las categorias par allenar arrats y compararlos con la info por producto
						const respCategorias = await fetch(`${url}/categorias`);
						let arr_catego = [];
						let total_catego = 0;
						let html = '';

						if (respCategorias.ok){
							
							categorias = await respCategorias.json();
							total_catego = categorias.total;
							arr_catego = categorias.categorias; 

						}else{
							let respErr = await respuesta.json();
							alert(respErr);
							return;
						}

						prod_array.forEach( async(producto) => {

							let chk_disponible = '';

							if(producto.disponible){
								chk_disponible = 'checked';
							}else{
								chk_disponible = '';
							} 
							
							if(producto.img == 'undefined' || producto.img == '' || producto.img == undefined){
								producto.img = 'https://res.cloudinary.com/api-pastizeta/image/upload/v1620943698/no-image_ccq42m.jpg';
							}
							
							html+= `<div class="col-lg-4 col-md-6 col-xs-12 col-sm-12 pt-3">
									<div class="card">
										<img id="img_${producto._id}" src="${producto.img}" width="200" height="300" class="card-img-top" alt="...">
										<div class="card-body">
											<form>
												
												<div class="mb-3">
													<input class="form-control fileInput" type="file" id="file_${producto._id}" data_id=${producto._id}>
												</div>

												<div class="input-group mb-2">
													<span class="input-group-text" id="basic-addon1"><i class="fas fa-pen"></i></span>
													<input type="text" class="form-control" id="nombre_${producto._id}" value="${producto.nombre}">
												</div>

												<div class="input-group mb-2">
													<span class="input-group-text" id="basic-addon2"><i class="fas fa-pen"></i></span>
													<input type="text" class="form-control" id="descripcion_${producto._id}" value="${producto.descripcion}">
												</div>

												<div class="input-group mb-2">
													<span class="input-group-text" id="basic-addon3"><i class="fas fa-dollar-sign"></i></span>
													<input type="text" class="form-control" id="precio_${producto._id}" value="${producto.precio}">
												</div>

												<div class="form-check form-switch">
													<input class="form-check-input" type="checkbox" id="disponible_${producto._id}" ${chk_disponible} >
													<label class="form-check-label" for="disponible_${producto._id}"> Disponible </label>
												</div>`	

												+ pintaCategorias(true,producto.categoria._id,producto.subcategoria._id,arr_catego,producto._id) +

												`<a href="#" class="btn btn-success btnModProd" Id="${producto._id}">Guardar</a>
											</form>
										</div>
									</div>
								</div>`;
						})



						html += `<nav class="my-4" aria-label="...">
									<ul class="pagination pagination-lg justify-content-center">` +
										await pintarPaginador(paginas,desde,limite,busqueda,criterio); +
								`	</ul>
								</nav>`
						
						return html;
				}

				const pintarPaginador = async( paginas = 0 , desde , limite,busqueda,criterio ) =>{

					let htmlPaginador = '';
					let desde_x_pag = 0;

					for( i=1 ; i <= paginas ; i++ ){
						class_active = '';
						if( i == 1 ){
							class_active='active';
						}
						htmlPaginador += `<li class="page-item ${class_active}"><a id ="${i}" class="page-link" href="#" data="${i}" desde="${desde_x_pag}" busqueda="${busqueda}" criterio="${criterio}">${i}</a></li>`
						desde_x_pag = desde_x_pag + limite;
					} 

					return htmlPaginador;
				}

				$('#row_prod').on('click','.pagination li a', async function(){
					//$('.items').html('<div class="text-center"><div class="spinner-grow text-success m-5" role="status"><span class="sr-only">Cargando...</span></div></div>');

					let pagina = $(this).attr('data');
					let desde  = $(this).attr('desde');	
					let busqueda  = $(this).attr('busqueda');
					let criterio  = $(this).attr('criterio');

					await getProductos(limitexpagina,Number(desde),busqueda,criterio);
					
					//$('.items').fadeIn(2000).html(data);
					$('.pagination li').removeClass('active'); 
					$('.pagination li a[data="'+Number(pagina)+'"]').parent().addClass('active');

				});   

				const pintaCategorias = (compara = false, id = 0, id_sub_catego = 0, arr_catego = [],prod_id) =>{

					let html = '';
					let html_cmb_sub_catego = '';
					let selected = '';
					let i_catego = 0;

					html += '<div class="input-group mb-2">';
						html+=`<select class="form-select" id="cmb_catego_${prod_id}" disabled>`;
						arr_catego.forEach( ( reg, index ) =>{

							if(compara){
								if(id == reg._id){
									selected = 'selected';
									i_catego = index;
								}
								else{
									selected = '';
								}
							}else{
								html +=`<option id="0" >Seleccionar...</option>`;
							}

							html += `<option id="${reg._id}" ${selected}>
										${reg.nombre}
									</option>`
						})
						html+=`</select>`
					html += '</div>';

					let arr_subcatego =arr_catego[i_catego].subcategorias;
					//combo subcategoria.
					html += '<div class="input-group mb-2">';
						html+=`<select class="form-select" id="cmb_sub_catego_${prod_id}" disabled>`;
						arr_subcatego.forEach( (reg) =>{

							if(compara){
								if(id_sub_catego == reg._id){
									selected = 'selected';
								}
								else{
									selected = '';
								}
							}else{
								html +=`<option id="0" >Seleccionar...</option>`;
							}

							html += `<option id="${reg._id}" ${selected}>
														${reg.nombre}
													</option>`
						})
						html+=`</select>`
					html += '</div>';
				
					return html;
				}

				//click btnModProd (producto/modificar)
				$('#row_prod').on('click','.btnModProd', async function(){
					 
					const id = $(this).attr('id');
					//se obtiene controles del id
					const ctrl_nombre = $(`#nombre_${id}`).val();
					const ctrl_file = $(`#file_${id}`);
					const ctrl_descripcion = $(`#descripcion_${id}`).val();
					const ctrl_precio = $(`#precio_${id}`).val();
					let ctrl_disponible = $(`#disponible_${id}`)[0].checked;
					let token = localStorage.getItem('x-token');

					let div_mensaje = $('.mensaje');

					//alert(`nombre: ${ctrl_nombre} Precio: ${ctrl_precio} desc: ${ctrl_descripcion} ` );
					if( ctrl_nombre == '' || ctrl_precio == '' || ctrl_descripcion == '' || isNaN(ctrl_precio) ){
						 mandaMensaje('unsuccess');
						 div_mensaje.html('Prodcutos - Revisa los campos modificados');
						 return;
					}else if ( ctrl_nombre.length > 50 || ctrl_descripcion.length > 50 || ctrl_precio == "0" ){
						mandaMensaje('unsuccess');
						 div_mensaje.html('Productos - La informacion no puede tener mas de 50 caracteres, el precio debe ser diferente de 0.');
						 return;
					}
					
					let disponible = false;
					if (ctrl_disponible.checked){ disponible = true}else{disponible = false};

					const data = {
						"precio" : ctrl_precio,
						"nombre" : ctrl_nombre,
						"descripcion" : ctrl_descripcion,
						"disponible" : ctrl_disponible
					}
					
					respModProd = await fetch(`${url}/productos/${id}`,{
													method: 'PUT',
													headers: {
														'Content-Type': 'application/json;charset=utf-8',
														'x-token' : token
													},
													body: JSON.stringify(data)
												})
					if(respModProd.ok){
						respJSON = await respModProd.json();
						mandaMensaje('success');
                        div_mensaje.html('Producto Actualizado');
					}else{
						respJSON = await respModProd.json();
						mandaMensaje('unsuccess');
                        div_mensaje.html(respJSON.msg);
					}

					//se valida si hay algo en el input para actualizar imagen
					if( ctrl_file[0].files[0] ){

						let formData = new FormData();
						formData.append('archivo',ctrl_file[0].files[0]);

						try{
							const respPutIMG = await fetch(`${url}/uploads/productos/${id}`,{
															method: 'PUT',
															body: formData
														})
							if(respPutIMG.ok){

								mandaMensaje('success');
								div_mensaje.html('Producto Actualizado');
							}else{
								respJSON = await respPutIMG.json();
								mandaMensaje('unsuccess');
								div_mensaje.html(respJSON.msg);
							}
						}catch(err){
							mandaMensaje('unsuccess');
							div_mensaje.html(err);
						}
					}

				})

				//buscar procuctos al cambiar el texto del inpunt
				$('#btnBP').on('click',function(){
					
					let valor_buscado = $('#textBusqueda').val();
					
					if(valor_buscado != ''){
						getProductos(limitexpagina,desde_art,"1",valor_buscado);
					}else{
						getProductos(limitexpagina,desde_art,"0",'');	
					}
					//alert(valor_buscado);
				})


				$('#row_prod').on('change','.fileInput', async function(){

					const data_id = $(this).attr('data_id');
					const file_input = $(this);

					if( file_input[0].files[0] ){

						const primerArchivo = file_input[0].files[0];
						const objectURL = URL.createObjectURL(primerArchivo);
						const filePreview = $(`#img_${data_id}`);

						filePreview[0].src = objectURL;
							
					}

				})
				
				$('#sel_categoria').on('change',function(){
					let id_option =$(this).val();
					let arrsubcatego = [];
					
					//buscar subcategorias en array por id categoria
					if(id_option != '0'){
						objCategorias = arr_catego_sel.find(element => element._id ===  id_option)
						arrsubcatego = objCategorias.subcategorias;
					}
					pintaSelectSubCategoria(arrsubcatego);

				})
				
				$('#btnAProd').on('click',async function(){
					
					let token = localStorage.getItem('x-token');
					const ctrl_file = $('#file_prod');
					let div_mensaje = $('.mensaje');

					//se validan campos

					if($('#txtNombre').val() == ''){
						alert('Debes ingresar el nombre del producto');
						return;
					}

					if($('#file_prod').get(0).files.length === 0){
						alert('Debes seleccionar una imagen para tu producto');
						return;
					}

					if($('#txtPrecio').val() == '' || isNaN($('#txtPrecio').val())){
						alert('El precio debe ser un número y no debe estar vacio');
						return;
					}

					if($('#sel_categoria').val() == '0' || $('#sel_categoria').val()== undefined){
						alert('Debes elegir una categoria para tu producto');
						return;
					}

					if($('#sel_subcategoria').val() == '0' || $('#sel_subcategoria').val()== undefined){
						alert('Debes elegir una subcategoria para tu producto');
						return;
					}

					if($('#sel_subcategoria').val() == ''){
						alert('Debes ingresar una descripcion para tu producto');
						return;
					}

					//se obtiene datos de la interfaz
					const data = {
						"nombre": $('#txtNombre').val(),
						"precio": $('#txtPrecio').val(),
						"categoria":$('#sel_categoria').val(),
						"subcategoria":$('#sel_subcategoria').val(),
						"descripcion":$('#txtDescr').val()
					}

					 $(this).prop("disabled", true);
					 $(this).html(
						`<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>Cargando...`
					 );

					respAgregaProd = await fetch(`${url}/productos/`,{
													method: 'POST',
													headers: {
														'Content-Type': 'application/json;charset=utf-8',
														'x-token' : token
													},
													body: JSON.stringify(data)
												})
					if(respAgregaProd.ok){
						respJSON = await respAgregaProd.json();

					//se valida si hay algo en el input para actualizar imagen
					if( ctrl_file[0].files[0] ){

						let formData = new FormData();
						formData.append('archivo',ctrl_file[0].files[0]);

						try{
							const respPutIMG = await fetch(`${url}/uploads/productos/${respJSON.producto._id}`,{
															method: 'PUT',
															body: formData
														})
							if(respPutIMG.ok){

								mandaMensaje('success');
								div_mensaje.html('Producto Agregado');

								await getProductos(limitexpagina,desde_art,"0");
								await pintaSelectCategorias();
								$('.items_prod').fadeOut(2000);
								$('#txtNombre').val('');
								$('#txtPrecio').val('');
								$('#sel_categoria').val(0);
								$('#sel_subcategoria').val(0);
								$('#txtDescr').val('');
								$('#file_prod').val('');
							}else{
								respJSON = await respPutIMG.json();
								mandaMensaje('unsuccess');
								div_mensaje.html(respJSON.msg);
								$('.items_prod').fadeOut(2000);
								$('#txtNombre').val('');
								$('#txtPrecio').val('');
								$('#sel_categoria').val(0);
								$('#sel_subcategoria').val(0);
								$('#txtDescr').val('');
								$('#file_prod').val('');
							}
						}catch(err){
							mandaMensaje('unsuccess');
							div_mensaje.html(err);
							$('.items_prod').fadeOut(2000);
							$('#txtNombre').val('');
							$('#txtPrecio').val('');
							$('#sel_categoria').val(0);
							$('#sel_subcategoria').val(0);
							$('#txtDescr').val('');
							$('#file_prod').val('');
					}
					}
					}else{
						respJSON = await respAgregaProd.json();
						mandaMensaje('unsuccess');
                        div_mensaje.html(respJSON.msg);
						$('.items_prod').fadeOut(2000);
						$('#txtNombre').val('');
						$('#txtPrecio').val('');
						$('#sel_categoria').val(0);
						$('#sel_subcategoria').val(0);
						$('#txtDescr').val('');
						$('#file_prod').val('');
					}

					$(this).prop("disabled", false);
					$(this).html(
						`Agregar`
					);

				})
				
				
				//al cargar la pagina de productos
				const productos = await getProductos(limitexpagina,desde_art,"0");
				await pintaSelectCategorias();
			})
		</script>

        <div class="container-fluid">
            <div class="row bg-light p-2">
				<div class="col-12">
					<h4><span><i class="fas fa-warehouse" style="color:blueviolet"></i></span> Productos</h4>
				</div>
			</div>
			<div style="display: none;" class="mensaje alert" role="alert"></div>

			<div class="row pt-5">
				<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
					
					<div class="row p-5">
						
						<h4>Agregar Producto</h4>
						<form id="frm_prod">
							<div class="mb-3 col-12">
								<label for="txtNombre" class="form-label">Nombre</label>
								<input type="text" class="form-control" id="txtNombre">
							</div>
							<div class="mb-3 col-12">
								<label for="sel_categoria" class="form-label">Imagen</label>
								<input type="file" class="form-control" id="file_prod">
							</div>
							<div class="mb-3 col-12">
								<label for="txtPrecio" class="form-label">Precio</label>
								<div class="input-group mb-3">
									<span class="input-group-text">$</span>
									<input type="text" class="form-control" id="txtPrecio" aria-label="Monto (Pesos)">
									<span class="input-group-text">.00</span>
								</div>
							</div>
							
							<div class="mb-3 col-12">
								<label for="sel_categoria" class="form-label">Categoria</label>
								<select class="form-select" name="sel_categoria" id="sel_categoria">
									
								</select>
							</div>
							<div class="mb-3 col-12">
								<label for="sel_subcategoria" class="form-label">SubCategoria</label>
								<select class="form-select" name="sel_subcategoria" id="sel_subcategoria">
									
								</select>
							</div>
							<div class="input-group pb-5">
								<span class="input-group-text">Descripción</span>
								<textarea class="form-control" aria-label="Descripción" id="txtDescr"></textarea>
							</div>

							<div class="input-group">
								
								<button type="button" class="btn btn-success" id="btnAProd">Agregar <span class="items_prod"></span></button>
							</div>
							
							
						</form>
					</div>
				</div>
				<div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-4 col-xs-4">
							<input id="textBusqueda"  type="text" class="form-control form-control-lg" placeholder="Buscar...">
							<span><small>Busca productos por nombre</small></span>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
							<button type="button" class="btn btn-outline-success btn-lg" id="btnBP">Buscar</button>
						</div>
						
					</div>
					<div class="row items" id="row_prod">
						
					</div>
					
				</div>
			</div>

        </div>
		

		<!-- Footer -->
		{{> footer}}

	</body>
</html>